<h1>Events</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>SIG</th>
    <th>Title</th>
    <th>Location</th>
    <th/>
  </tr>
 
  <tr>
    <td><%= link_to 'New Event', new_event_path %></td>
    <td/>
    <td/>
    <td/>
    <td/>
    <td/>
  </tr>
<% @resources.sort_by{ |obj| obj.date }.reverse.each do |resource| %>
  <tr>
    <td><%= resource.date %></td>
    <td><%= resource.start.hour %>:<%= (resource.start.min < 10 ? "0" : "") + resource.start.min.to_s %></td>
    <td><%= resource.sig.name %></td>
    <td><%= resource.title %></td>
    <td><%= resource.location.name %></td>
    <td><%= link_to 'Edit', edit_event_path(resource) %></td>
  </tr>
<% end %>
</table>