<!DOCTYPE html>
<html>
<head>
  <title>PostEvent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
</head>
<body>
<% if current_user %>
	<div class="logo">
		<%= image_tag("AgileAustinLogo.png", :alt => "Agile Austin") %>
		<div class="application">PostEvent</div>
	</div>
	<div class="user-nav">
	    <%= link_to "Events", :events %>
	    <%= link_to "Locations", :locations %>
	    <%= link_to "SIGs", :sigs %>
	    <%= link_to "Users", :users %>
	    <%= link_to "Log out", :logout %>
	    <div class="user-info"><%= link_to current_user.email, edit_user_path(current_user)  %></div>
	</div>
<% end %>

<% if !flash.empty? %>
	<div class="flash">
		<% flash.each do |name, msg| %>
		  <% if name == :unauthorized %>
		    <span style="color: red"><%= msg %>  To authorize, please go <a href="<%=Rails.configuration.post_url%>/authorize">here</a>.</span>
		  <% else %>
		    <%= content_tag :div, msg, :id => "flash_#{name}" %>
		  <% end %>
		<% end %>
	</div>
<% end %>

<%= yield %>
</body>
</html>